################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ADSDigiCore.Service/.vs/ADSDigiCore.Service/DesignTimeBuild/.dtbcache.v2
/ADSDigiCore.Service/.vs/ADSDigiCore.Service/FileContentIndex/501f6fb5-25db-4119-804f-17ca36295f37.vsidx
/ADSDigiCore.Service/.vs/ADSDigiCore.Service/v17/.futdcache.v2
/ADSDigiCore.Service/.vs/ADSDigiCore.Service/v17/.suo
/ADSDigiCore.Service/.vs/ProjectEvaluation/adsdigicore.service.metadata.v7.bin
/ADSDigiCore.Service/.vs/ProjectEvaluation/adsdigicore.service.projects.v7.bin
/ADSDigiCore.Service/ADSDigiCore.Service/obj
/ADSDigiCore.Service/ADSDigiCore.Service/ADSDigiCore.Service.http
/UI/ADSDigiCore.UI/.vs/ADSDigiCore.UI/FileContentIndex
/UI/ADSDigiCore.UI/.vs/ADSDigiCore.UI/v17
/UI/ADSDigiCore.UI/adsdigicore.ui/obj/Debug
/UI/ADSDigiCore.UI/adsdigicore.ui/public
/UI/ADSDigiCore.UI/adsdigicore.ui/src/assets
